/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
The imported CSS rules must precede all other types of rules.
*/
/*@import '~@nativescript/theme/css/core.css';*/
/*@import '~@nativescript/theme/css/purple.css';*/

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
button {
  font-size: 18;
  min-width: 50;
}

/*.ns-root.ns-root Button {*/
/*    margin: 3 10;*/
/*    padding: 3 10;*/
/*    color: red;*/
/*    background-color: brown;*/
/*    border: 5 blue;*/
/*}*/

/*.ns-root.ns-root Button:active {*/
/*    background-color: green;*/
/*}*/

/*.ns-root.ns-root Progress {*/
/*    padding: 10;*/
/*    margin: 10;*/
/*    color: white;*/
/*    text-align: center;*/
/*    desktop-chunk-color: violet;*/
/*    desktop-chunk-width: 10;*/
/*    background-color: darkslategray;*/
/*    border: 3 red;*/
/*}*/
